<div class="faq-wrapper col-md-8 col-sm-7">
  <div class="panel-group" id="accordion">

    <% @admission_eligibilities.each do |admission_eligibility|  %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-<%= admission_eligibility.id %>">
                <%= admission_eligibility.name %>
              </a>
            </h4>
          </div><!--//pane-heading-->
          <div id="collapse-<%= admission_eligibility.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= admission_eligibility.description %>
            </div><!--//panel-body-->
          </div><!--//panel-colapse-->
        </div><!--//panel-->
    <% end %>

  </div><!--//panel-group-->
</div><!--//faq-wrapper-->
