<style>.fix750{width:750px;height:300px;}</style>
<div class="news-wrapper col-md-8 col-sm-7">
  <article class="news-item">
    <p class="featured-image"><%= image_tag @news.image.url(:large), class: 'fix750 img-responsive' %></p>
    <p><%= @news.description.html_safe %></p>
  </article>
</div>