<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= link_to_remove_association 'Remove', f, class: 'form-button btn btn-default' %>
  </div>
</div>
