<header class="page-heading clearfix">
  <h1 class="heading-title pull-left">Notice Board-Dhaka Engineering Institute</h1>
  <div class="breadcrumbs pull-right">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-label">You are here:&nbsp;</li>
      <li class="current"><a href="http://localhost/cms/wolf/DEI/?" title="DEI">DEI</a><span class="breadcrumb-separator">&gt;</span><span class="breadcrumb-current">Notice Board</span></li>
    </ul>
  </div><!--//breadcrumbs-->
</header>
