<header class="page-heading clearfix">
  <h1 class="heading-title pull-left"><%= @title %></h1>
  <div class="breadcrumbs pull-right">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-label">You are here:&nbsp;</li>
      <li class="current"><a href="#" title="DEI">Home</a><span class="breadcrumb-separator">&gt;</span><span class="breadcrumb-current"><%= @title %></span></li>
    </ul>
  </div><!--//breadcrumbs-->
</header>
