<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3 col-sm-4 about">
          <div class="footer-col-inner">
            <h3>DEI</h3>
            <ul>
              <li><a href="#"><i class="fa fa-caret-right"></i>Home</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Notice Board</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>About DEI</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-6 col-sm-8 newsletter">
          <div class="footer-col-inner">
            <h3>Join our mailing list</h3>
            <p>Subscribe to get our monthly newsletter delivered directly to your inbox</p>
            <form class="subscribe-form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email" />
              </div>
              <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
            </form>

          </div><!--//footer-col-inner-->

          <div class="footer-col-inner">
            <h4>Translate it in your language</h4>

            <div id="google_translate_element"></div>
          </div><!--//footer-col-inner-->




        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-12 contact">
          <div class="footer-col-inner">
            <h3>Address</h3>
            <div class="row">
              <p class="adr clearfix col-md-12 col-sm-4">
                <i class="fa fa-map-marker pull-left"></i>
                <span class="adr-group pull-left">
                                    <span class="street-address">Dhaka Engineering Institute</span><br>
                                    <span class="region">3/3 Block C,Lalmatia</span><br>
                                    <span class="postal-code">Mohammadpur,Dhaka.</span><br>
                                    <span class="country-name">Bangladesh</span>
                                </span>
              </p>
              <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>01770 519 667</p>
              <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">info@deibd.cf</a></p>

            </div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
      </div>
    </div>
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright &copy; 2016 Dhaka Engineering Institute</small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
          <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#" ><i class="fa fa-skype"></i></a></li>
          <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>
        </ul><!--//social-->
      </div><!--//row-->



    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer>