<head>
  <!-- Meta -->
  <title>Dhaka Engineering Institute</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow" />
  <meta name="description" content="">
  <meta name="keywords" content="dhaka engineering institute,dei2014,dei">
  <meta name="tags" content="dhaka engineering institute,dei2014,dei">
  <meta name="author" content="Dhaka Engineering Institute" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

  <!-- Global CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/flexslider-min.css">
  <!--PrettyPhoto-->

  <!-- Theme CSS -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- POP UP CSS -->

  <link rel="shortcut icon" href="#">


</head>
