<% website =  Admin::Website.last %>
<header class="header">

  <div class="top-bar">
    <div class="container">
      <ul class="social-icons col-md-6 col-sm-6 col-xs-12">
        <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/DEI2014" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCHtmNPXQwOWkGC0CAstfIoA" target="_blank"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://google.com/+DeibdCfc" target="_blank" ><i class="fa fa-google-plus"></i></a></li>
        <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>
      </ul><!--//social-icons-->

      <form class="hidden-xs pull-right search-form" role="search" method="get" target="_blank" action="https://www.google.com/search">
        <div class="form-group">
          <input type="text" class="form-control"  name="q" placeholder="Search in Google...">
        </div>
        <button type="submit" class="btn btn-theme">Go</button>
      </form>
    </div>
  </div><!--//to-bar-->

  <div class="header-main container">
    <h1 class="logo col-md-4 col-sm-4">
      <%= image_tag website.logo.url(:medium), class: 'img-responsive', id: 'logo' %>
    </h1><!--//logo-->
    <div class="info col-md-8 col-sm-8">
      <ul class="menu-top navbar-right hidden-xs">
        <li class="divider"><a href="#">Home</a></li>
        <li class="divider"><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul><!--//menu-top-->
      <br />
      <div class="contact pull-right">
        <p class="phone"><i class="fa fa-phone"></i>Call us today 01727 152 471</p>
        <p class="email"><i class="fa fa-envelope"></i><a href="#">info@deibd.cf</a></p>
      </div><!--//contact-->
    </div><!--//info-->
  </div>
  <!--//header-main-->
</header>