<nav class="main-nav" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!--//nav-toggle-->
    </div><!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active nav-item"><a href="#">Home</a></li>

        <li class="nav-item"><a href="#">Notice Board</a></li>

        <li class="nav-item"><a href="#">About DEI</a></li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Admissions <i class="fa fa-angle-down"></i></a>

          <ul class="dropdown-menu">

            <li><a href="#"><i class="fa fa-rocket"></i>&nbsp;Admission Eligibility</a></li>
            <li><a href="#"><i class="fa fa-money"></i>&nbsp;Tuition Fees</a></li>
            <li><a href="#"><i class="fa fa-star"></i>&nbsp;Scholarships</a></li>
            <li><a href="#"><i class="fa fa-file-text"></i>&nbsp;How to apply</a></li>

          </ul>
        </li><!--//dropdown-->

        <li class="nav-item dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Courses<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-bolt"></i>&nbsp;Electrical Technology</a></li>
            <li><a href="#"><i class="fa fa-laptop"></i>&nbsp;Computer Technology</a></li>
            <li><a href="#"><i class="fa fa-road"></i>&nbsp;Civil Technology</a></li>

          </ul>
        </li><!--//dropdown-->

        <!--<li class="nav-item"><a href="#">Research</a></li>-->
        <li class="nav-item"><a href="#">News</a></li>
        <li class="nav-item"><a href="#">Events</a></li>

        <!--<li class="nav-item"><a href="#">Alumni</a></li>-->
        <li class="nav-item"><a href="#">Contact</a></li>
      </ul><!--//nav-->
    </div><!--//navabr-collapse-->
  </div><!--//container-->
</nav>