<h1>Editing Admin Admission Eligibility</h1>

<%= render 'form', admin_admission_eligibility: @admin_admission_eligibility %>

<%= link_to 'Show', @admin_admission_eligibility %> |
<%= link_to 'Back', admin_admission_eligibilities_path %>
<%= render 'shared/extends_admin_layout' %>
