<h1>New Admin Admission Eligibility</h1>

<%= render 'form', admin_admission_eligibility: @admin_admission_eligibility %>

<%= link_to 'Back', admin_admission_eligibilities_path %>
<%= render 'shared/extends_admin_layout' %>
