<h1>Editing Admin Website</h1>

<%= render 'form', admin_website: @admin_website %>

<%= link_to 'Show', @admin_website %> |
<%= link_to 'Back', admin_websites_path %>
<%= render 'shared/extends_admin_layout' %>
