<h1>New Admin Tuition Fees Group</h1>

<%= render 'form', admin_tuition_fees_group: @admin_tuition_fees_group %>

<%= link_to 'Back', admin_tuition_fees_groups_path %>
<%= render 'shared/extends_admin_layout' %>
