<h1>Editing Admin Quick Link</h1>

<%= render 'form', admin_quick_link: @admin_quick_link %>

<%= link_to 'Show', @admin_quick_link %> |
<%= link_to 'Back', admin_quick_links_path %>
<%= render 'shared/extends_admin_layout' %>
