<h1>Editing Admin Social Medium</h1>

<%= render 'form', admin_social_medium: @admin_social_medium %>

<%= link_to 'Show', @admin_social_medium %> |
<%= link_to 'Back', admin_social_media_path %>
<%= render 'shared/extends_admin_layout' %>
