<h1>Editing Admin Tuition Fee</h1>

<%= render 'form', admin_tuition_fee: @admin_tuition_fee %>

<%= link_to 'Show', @admin_tuition_fee %> |
<%= link_to 'Back', admin_tuition_fees_path %>
<%= render 'shared/extends_admin_layout' %>
