<h1>Editing Admin Scholarship</h1>

<%= render 'form', admin_scholarship: @admin_scholarship %>

<%= link_to 'Show', @admin_scholarship %> |
<%= link_to 'Back', admin_scholarships_path %>
<%= render 'shared/extends_admin_layout' %>
