<h1>Editing Admin Mini Slider</h1>

<%= render 'form', admin_mini_slider: @admin_mini_slider %>

<%= link_to 'Show', @admin_mini_slider %> |
<%= link_to 'Back', admin_mini_sliders_path %>
<%= render 'shared/extends_admin_layout' %>
