<h1>Editing Admin Semester</h1>

<%= render 'form', admin_semester: @admin_semester %>

<%= link_to 'Show', @admin_semester %> |
<%= link_to 'Back', admin_semesters_path %>
<%= render 'shared/extends_admin_layout' %>
