<% content_for :nav do %>
    <!--For a single menu content-->
    <li class="has-submenu active">
      <a href="#"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
    </li>

    <!--For a normal menu content-->
    <li class="has-submenu">
      <a href="#"><i class="zmdi zmdi-palette"></i>UI Kit</a>
      <ul class="submenu">
        <li><a href="#">Portlets</a></li>
        <li><a href="#">Checkboxs-Radios</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Modals</a></li>
      </ul>
    </li>
<% end %>
