<% content_for :search do  %>
    <li>
      <form role="search" class="navbar-left app-search pull-left hidden-xs">
        <input type="text" placeholder="Search..." class="form-control">
        <a href=""><i class="fa fa-search"></i></a>
      </form>
    </li>
<% end %>
