<h1>Editing Admin Postal Type</h1>

<%= render 'form', admin_postal_type: @admin_postal_type %>

<%= link_to 'Show', @admin_postal_type %> |
<%= link_to 'Back', admin_postal_types_path %>
<%= render 'shared/extends_admin_layout' %>
