<h1>Editing Admin Google Map</h1>

<%= render 'form', admin_google_map: @admin_google_map %>

<%= link_to 'Show', @admin_google_map %> |
<%= link_to 'Back', admin_google_maps_path %>
<%= render 'shared/extends_admin_layout' %>
