<h1>Editing Admin Postal</h1>

<%= render 'form', admin_postal: @admin_postal %>

<%= link_to 'Show', @admin_postal %> |
<%= link_to 'Back', admin_postals_path %>
<%= render 'shared/extends_admin_layout' %>
