<h1>New Admin Admission Process</h1>

<%= render 'form', admin_admission_process: @admin_admission_process %>

<%= link_to 'Back', admin_admission_processes_path %>
<%= render 'shared/extends_admin_layout' %>
