<h1>Editing Admin Notice Board</h1>

<%= render 'form', admin_notice_board: @admin_notice_board %>

<%= link_to 'Show', @admin_notice_board %> |
<%= link_to 'Back', admin_notice_boards_path %>
<%= render 'shared/extends_admin_layout' %>
